.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0.3;
}

.sidebar_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid lightgray;
    padding: 5px 20px;
    background-color: #f0f2f5;
    border-bottom: 1px solid lightgray;
}

.sidebar_headerRight {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.sidebar_search {
    display: flex;
    align-items: center;
    padding: 5px 20px;
    background-color: white;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

.sidebar_searchContain {
    display: flex;
    align-items: center;
    background-color: #f0f2f5;
    width: 100%;
    border-radius: 20px;
    padding-left:20px;
    margin: 5px 0
}

.sidebar_searchContain > input {
    border: none;
    margin-left: 10px;
    border-radius: 20px;
}

.sidebar_contacts {
    flex: 1;
    overflow-y: scroll;
}